.empty-well{background: transparent;}
.bigger-icon{font-size: 48px;}
/*.footer-background{background:#000;color:#fff;}*/
.error{color: #ff0000;}
/* http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3 */
.col-center-block {
   float: none;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
/*
.box-with-border{
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 30px;
  width: 100%;
}
*/
.box-with-border h1 {margin:0px;}

/* - - - - -  Sticky footer styles - - - */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height; sets distance from bottom of body equal to h
  height of footer */
  margin-bottom: 427px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 200px;*/
  background-color: #000;
  color: #9d9d9d;  /*#fff;*/
  text-align: center;
}


/* admin classes */
.admin-hidden {
    display: none;
}
.admin-display input[type="text"]{width: 250px; padding: 3px;}
.admin-display {
    display:inline-block;
}
.outlined {
    border: 1px solid #80c0ff;
}
.browser-title {width: 17em; padding-left:7px;}
.footer-bg{
  /*margin-top: 30px;*/
  background-color: #2c2c2c; /*#222;*/
  color: #9d9d9d;  /*#fff;*/
  padding: 15px 0px;
  border-bottom: #3f3f3f 1px solid;
}
.footer-bg p{
  line-height: 10px;
}

/* wmp */
.wmp{font-size: 85%; color:#707070; margin-top: 10px;}
.wmp a{font-size: 90%; color:#707070; margin-top: 10px;}
.wmp a:hover{color:#fff;}

.footer-bg2{
  text-align: center;
  padding-top: 10px;
  background-color: #2c2c2c;
  color: #9d9d9d;  /*#fff;*/
}
.footer-column p {
  padding-left:3px;
}
.footer-column a{
  color: #9d9d9d;
}
.footer-column a:hover{
  color: #fff;
}

/* testimonials */
.list-group-item h3 {margin:0px;}

/* contact */
.gray-bg-box {
  background-color: #eee;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 15px;
}
.hidden{display: none;}
#progressImage {
  display: none;
  position: fixed;
  top:  50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background: url('../images/ajax-loader.gif');
}
